# YouTube
YT_API_KEY=your_youtube_api_key_here
YT_CHANNEL_ID=UCxxxxxxxxxxxxxxxxxxxx
YT_CHANNEL_HANDLE=GamingOP-1M

# Minecraft
MINECRAFT_SERVER=gamingop.qzz.io

# Contact / SMTP (optional)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=you@example.com
SMTP_PASS=supersecret
CONTACT_TO_EMAIL=owner@example.com

# Site
SITE_URL=https://gamingop.qzz.io

# Optional: Google Search Console verification token (without HTML wrapper)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=your_google_site_verification_token

# AdSense
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-2778216399702742
NEXT_PUBLIC_ADSENSE_SLOT_HOME_FEED=
NEXT_PUBLIC_ADSENSE_SLOT_HOME_SIDEBAR=
NEXT_PUBLIC_ADSENSE_SLOT_VIDEOS_TOP=
NEXT_PUBLIC_ADSENSE_SLOT_GUIDES_TOP=
